extends layout

block content
  h1= title
  h2 Add a new class:
  form#formAddClass(name="addclass",method="post",action="/addclass")
    select#inputQuarter(name="classqtr")
      option(value="wi16") Winter 2016
      option(value="sp16") Spring 2016
    br
    br
    table
      tr
        th Add?
        th Name
        th Room
        th Start
        th End
        th Days
      - for (var val = 0; val < nOfClasses; val++)
        tr
          td
            input#inputClassAdd(type="checkbox",name="classadd#{val}",checked="checked")
          td
            input#inputClassName(type="text",placeholder="Class Name",name="classname#{val}",value="Sidd Time #{val}")
          td
            input#inputClassLocation(type="text",placeholder="Room Number",name="classlocation#{val}",value="CSE #{val}69")
          td
            input#inputClassStart(type="time",name="classstart#{val}",value="#{val+10}:00")
          td
            input#inputClassEnd(type="time",name="classend#{val}",value="#{val+10}:50")
          td
            input#inputClassDays(type="checkbox",name="monday#{val}")
            | M
            input#inputClassDays(type="checkbox",name="tuesday#{val}")
            | T
            input#inputClassDays(type="checkbox",name="wednesday#{val}")
            | W
            input#inputClassDays(type="checkbox",name="thursday#{val}")
            | Th
            input#inputClassDays(type="checkbox",name="friday#{val}")
            | F
    button#btnSubmit(type="submit") Add
  if error
    each errors, index in error
      h4 Errors in Class #{index}:
      each err in errors
        p - #{err}
  if message
    each mess in message
      h3= mess