<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>

	<body class="container">
    <header>
      <% include ../partials/header %>
    </header>
		<h1><%= title %></h1>
		<h2>Add a new class:</h2>
    <form id="formAddClass" name="addclass" method="post" action="/addclass">
      <select id="inputQuarter" name="classqtr">
        <option value="wi16">Winter 2016</option>
        <option value="sp16" selected>Spring 2016</option>
      </select>
      <br/>
      <br/>
      <table>
        <tr>
          <th>Add?</th>
          <th>Name</th>
          <th>Room</th>
          <th>Start</th>
          <th>End</th>
          <th>Days</th>
        </tr>
        <% for (var i = 0; i < nOfClasses; i++) { %>
          <tr>
            <td>
              <input id="inputClassAdd" type="checkbox" name="classadd<%= i %>"
                value="<%= ((typeof oldBody["classadd" + i] != 'undefined') ? "checked" : "")%>">
            </td>
            <td>
              <input id="inputClassName" type="text" placeholder="Class Name" name="classname<%= i %>"
                value="<%= (typeof oldBody["classname" + i] != 'undefined') ? (oldBody["classname" + i]) : "" %>">
            </td>
            <td>
              <input id="inputClassLocation" type="text" placeholder="Room Number" name="classlocation<%= i %>"
                value="<%= (typeof oldBody["classlocation" + i] != 'undefined') ? (oldBody["classlocation" + i]) : "" %>">
            </td>
            <td>
              <input id="inputClassStart" type="time" name="classstart<%= i %>"
                value="<%= (typeof oldBody["classstart" + i] != 'undefined') ? (oldBody["classstart" + i]) : "" %>">
            </td>
            <td>
              <input id="inputClassEnd" type="time" name="classend<%= i %>"
                value="<%= (typeof oldBody["classend" + i] != 'undefined') ? (oldBody["classend" + i]) : "" %>">
            </td>
            <td>
              <%
              var days = ['monday','tuesday','wednesday','thursday','friday'];
              var letters = ['M', 'T', 'W', 'Th', 'F'];
              for (var j = 0; j < days.length; j++) {  %>
                <input id="inputClassDays" type="checkbox" name="<%= days[j] + i %>"
                  <%= ((typeof oldBody[days[j] + i] != 'undefined') ? "checked" : "") %>><%= letters[j] %>
              <% } %>
            </td>
          </tr>
        <% } %>
      </table>
      <button id="btnSubmit" type="submit">Add</button>
    </form>
    <% if (typeof error != 'undefined') {
      for (var index in error) { var errors = error[index]; %>
        <h4>Errors in Class <%= index %>:</h4>
        <% errors.forEach(function(err) { %>
          <p><%= err %></p>
        <% });
      }
    }
    if (typeof message != 'undefined') {
      message.forEach(function(mess) { %>
        <h3><%= mess %></h3>
      <% });
    } %>
	</body>
</html>
