extends layout

block content
  h1= title
  p
    b Add a new class:
  form#formAddClass(name="addclass",method="post",action="/addclass")
    select#inputQuarter(name="classqtr")
      option(value="wi16") Winter 2016
      option(value="sp16") Spring 2016
    br
    br
    table
      tr
        th Name
        th Room
        th Start
        th End
        th Days
      // each val in [1,2,3]
      -val= 1
      tr
        td
          input#inputClassName(type="text",placeholder="Class Name",name="classname#{val}",value="Sidd",required)
        td
          input#inputClassLocation(type="text",placeholder="Room Number",name="classlocation#{val}",value="CSE003",required)
        td
          input#inputClassStart(type="time",name="classstart#{val}",value="09:30",required)
        td
          input#inputClassEnd(type="time",name="classend#{val}",value="10:20",required)
        td
          input#inputClassDays(type="checkbox",name="monday")
          | M
          input#inputClassDays(type="checkbox",name="tuesday")
          | T
          input#inputClassDays(type="checkbox",name="wednesday")
          | W
          input#inputClassDays(type="checkbox",name="thursday")
          | Th
          input#inputClassDays(type="checkbox",name="friday")
          | F
    button#btnSubmit(type="submit") Add
  p #{error}
  h2 #{message}